@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import 'navbar.css';
@import 'balance.css';
@import 'powerups.css';
@import 'login.css';
@import 'intro.css';

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}